<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>115566052739-e46585rqaudh690nbs8mphcisholip76.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115566052739-e46585rqaudh690nbs8mphcisholip76</string>
	<key>API_KEY</key>
	<string>AIzaSyAScgo3mN3-ueOFlS5fM8Kwyrxs1ys8gS4</string>
	<key>GCM_SENDER_ID</key>
	<string>115566052739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shafiq.mobileCashierApp</string>
	<key>PROJECT_ID</key>
	<string>cashiermobile-4adcf</string>
	<key>STORAGE_BUCKET</key>
	<string>cashiermobile-4adcf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115566052739:ios:646630130631ecfdb262b6</string>
	<key>DATABASE_URL</key>
	<string>https://cashiermobile-4adcf.firebaseio.com</string>
</dict>
</plist>